*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    background-color: aliceblue;
}

header {
background-color: rgb(140, 140, 140);
box-shadow: 3px 3px 5px rgb(36, 36, 36);

}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 100px;
}

.header {
display: flex;
flex-direction: row;
justify-content: space-between;

align-items: center;
}

.logo {
    transition: 0.2s;
}

.logo a {
    color: gold;
    font-weight: 900;
    background-color: rgb(100, 100, 100);
    border: 2px solid  rgb(36, 36, 36) ;
    border-radius: 4px;
    padding: 5px;
    font-size: 30px;

}

.nav {
    display: flex;
    gap: 70px;
    font-size: 24px;
}

.nav a {
    color: gold;
    font-weight: 400;
    transition: 0.2s;
}

.nav a:hover {
    color: rgb(142, 120, 0);
    transform: scale(1.2);

}

.logo:hover{
    transform: scale(1.2);
}


.main {
    display: flex;
    justify-content: space-between;
    padding-top:50px;
    margin-top: 15px;
    padding-bottom:30px;
}




.Media {
    position: relative;
}

.Media img{
    width: 500px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(36, 36, 36);
}

.Media button{
    position: absolute;
    right: 10px;
    bottom: 15px;
    padding: 5px 10px;
    font-size: 25px;
    background-color: rgb(140, 140, 140);
    border-radius: 10px;
    color: gold;
    transition: .2s;
    cursor: pointer;
}



.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 500px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(36, 36, 36);
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
}

span {
    color: gold;
    font-size: 40px;
    background-color: rgb(36, 36, 36);
    padding: 10px;
    border-radius: 100%;
}



.Media button:hover {
    transform: scale(1.2);
    background-color: gold;
    color: rgb(140, 140, 140);
    
}


.text p{
    font-size: 18px;
}

.secondary-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;

}

.secondary-section h1 {
    color:silver;
    font-size: 60px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    padding: 5px 20px;
}


.foto img{
    width: 300px;
    height: 220px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px;
    transition: .2s;
    cursor: pointer;
}

.foto{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foto img:hover{
    transform: translateY(10px);
}


.footer i{
    font-size: 50px;
    color: gold;
}

.footer{
    display: flex;
    justify-content: space-between;
    

}
footer{
    background-color: rgb(100, 100, 100);
}
 

.line {
    width: 80%;
    height: 2px;
    background-color: black;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}




@media(max-width:800px){
   .container{
    padding: 15px 50px;
   } 

   .header{
    flex-direction: column;
    gap: 20px;
    }


    .main{
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }


    .foto{
        gap: 40px;
        
    }

    .foto img{
        width: 270px;
        height: 190px;
    }
}



